name: CI/CD Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

env:
  HARBOR_URL: harbor.lmsx.io.vn
  HARBOR_PROJECT: demo
  IMAGE_NAME: nginx

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure Docker to trust Harbor CA
        run: |
          mkdir -p $HOME/.docker/certs.d/harbor.lmsx.io.vn
          echo "${{ secrets.HARBOR_CA }}" > $HOME/.docker/certs.d/harbor.lmsx.io.vn/ca.crt

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.HARBOR_URL }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build & Push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: harbor.lmsx.io.vn/demo/nginx:alpine

      - name: Update Kubernetes manifest image tag
        run: |
          sed -i "s|image:.*|image: ${{ env.HARBOR_URL }}/${{ env.HARBOR_PROJECT }}/${{ env.IMAGE_NAME }}:alpine|" k8s-manifests/demo/deployment.yaml

      - name: Commit updated manifest
        run: |
          git config user.name "Hitepu"
          git config user.email "hiep18797@gmail.com"
          git add k8s-manifests/demo/deployment.yaml
          git commit -m "Update image to latest [skip ci]" || echo "No changes"
          git push origin main
